@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 15px;
}

@layer components {
	.btn {
		@apply px-5 py-3 text-sm text-white transition-all duration-300 rounded-lg outline-none bg-gradient-to-tr from-primary-600 to-pink-500 focus:ring-4 focus:ring-primary/40 hover:shadow-xl hover:shadow-primary/30;
	}
	.btn-flat {
		@apply px-5 py-3 text-sm text-gray-700 transition-all rounded-lg outline-none bg-gray-50 hover:bg-gray-200 focus:ring-4 focus:ring-gray-500/30 dark:bg-slate-700 dark:text-slate-100;
	}
	.input {
		@apply w-full outline-none py-2.5
		border border-gray-300 rounded-lg px-3
		focus:border-primary/60 focus:ring-2 focus:ring-primary/50;
	}
}

/* Transitions */

.fade-enter-active,
.fade-leave-active {
	transition: all 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.menu-enter-active,
.menu-leave-active {
	transition: all 0.2s ease;
}

.menu-enter-from,
.menu-leave-to {
	opacity: 0;
	transform: scale(0.5);
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
	transition: all 0.6s ease;
}

.list-enter-from,
.list-leave-to {
	opacity: 0;
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
	position: absolute;
}
